<?xml version="1.0" encoding="utf-8"?>
<config>
    <port value="9123"/>
    <os value="win"/>
    <users>
        <user group="server" name="hyq" signature="fdsfdsfhyq"/>
        <user group="admin" name="hyq2" signature="fdsfdsfhyq"/>
        <user group="client" name="hyq3" signature="fdsfdsfhyq"/>
    </users>
    <commands>
        <cmd key="svn update" desc="svn更新" groups="admin" username="hyq" dir="D:\mhfx\修仙2\策划文档\s数值\p配置文件">
            svn update
        </cmd>
        <cmd key="copy data" desc="复制数据" groups="admin" username="hyq" dir="D:\mhfx\修仙2\策划文档\s数值\p配置文件">
            copy item_gift_data.xml D:\mhfx\tools\convert\data\
        </cmd>
        
        <cmd key="error svn update" desc="error svn更新" groups="admin" username="hyq" dir="D:/mhfx/修仙2/策划文档/s数值/p配置文件">
            svn update
        </cmd>
        <cmd key="error copy data" desc="error 复制数据" groups="admin" username="hyq" dir="D:/mhfx/修仙2/策划文档/s数值/p配置文件">
            copy item_gift_data.xml D:\mhfx\tools\convert\data\
        </cmd>
        
        <cmd key="php convert" desc="数据生成" groups="admin" username="hyq" dir="D:\mhfx\tools\convert">
            php convert2.php item_gift_data
        </cmd>
        
        <cmd key="tracert s1.mhfx.g.1360.com" desc="测试" groups="admin" username="hyq" dir="D:\mhfx\tools\convert">
            tracert s1.mhfx.g.1360.com
        </cmd>
        <cmd key="test param" desc="测试" groups="admin" username="hyq" dir="D:\mhfx\tools\convert">
            echo ${param}
        </cmd>
    </commands>
</config>